NCP_HTTP_ADDR=:8080
NCP_API_URL=http://127.0.0.1:8080
NCP_DB_DSN=postgres://ncp:ncp@127.0.0.1:5436/ncp?sslmode=disable
NCP_AUTH_MODE=dev
NCP_DEV_TOKEN=devtoken
NCP_APPLY_MODE=k8s
NCP_DRY_RUN=false
NCP_KUBECONFIG=~/.kube/config
NCP_KUBE_CONTEXT=
NCP_E2E_NAMESPACE=default
NCP_E2E_TIMEOUT=6m
